<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="/home/site/wwwroot"/>
    <add key="WSGI_HANDLER" value="app.app"/>
    <add key="WSGI_LOG" value="/home/site/wwwroot/logs/wfastcgi.log"/>
  </appSettings>
  
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\home\Python39\python.exe|D:\home\Python39\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    
    <httpErrors errorMode="Detailed" />
    
    <defaultDocument>
      <files>
        <clear />
        <add value="app.py" />
      </files>
    </defaultDocument>
    
    <httpRuntime executionTimeout="300" maxRequestLength="51200" />
    
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="text/json" enabled="true"/>
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>
